

<div class="col-1 my-5 "><a class="btn btn-primary rounded-1" href="javascript:history.back()"> Back</a></div>
<h1>User</h1>
<div class="container  mt-5 pt-5">
  <div class="row d-flex justify-content-center">
    <% for user in @user%>
      <div class="col-lg-3 mb-4">
        <div class="card text-dark">
          <img class="card-img-top" src="" alt="">
          <div class="card-body">
            <h5 class="card-title"><%= user.name %></h5>
            <p class="card-text">
            ID : <%= user.id %> </br>
            Email : <%= user.email %> </br>

    </p>
  </div>
</div>
</div>
<% end %>
</div>
</div>
