<div class="p-5 m-5">
  <h1 > User's name : <%=@user.name%> </h1>
  <h3 > User's ID : <%=@user.id%> </h3>
  <h3 > User's Email : <%=@user.email%> </h3>
  <h3 > User's password : <%=@user.passward%> </h3>
</div>
